<!doctype html>
<html lang="en">
{{ template "templates/header.tmpl" .}}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="emoji">👽🛸</div>
                    <h1>Looks like you're lost...</h1>
                    <p>The page you are looking for is not available!</p>
                    <div class="emoji">🌑💫</div>
                    <p>Let's get you back <a href="/">home</a>.</p>
                </div>
            </div>
        </section>
    </main>
{{ template "templates/footer.tmpl" .}}