{{ define "templates/header.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{{ .bootstrapCss }}" rel="stylesheet">
    <link href="{{ .customCss }}" rel="stylesheet">
</head>
<body class="bg-dark text-white">
    <header>
    </header>
{{ end }}