<!doctype html>
<html lang="en">
{{ template "templates/header.tmpl" .}}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">My Precious Links</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    {{ range .links }}
                    <div class="row mb-3">
                        <div class="col">
                            <a href="{{ .URL }}" class="btn btn-lg" style="background-color: {{ .Color }}; color: {{ .TextColor }}; width: 300px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" title="{{ .AltText }}" role="button">
                                {{ .Text }}
                            </a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </section>
    </main>
{{ template "templates/footer.tmpl" .}}